[mgr]

ratio = [1,3,4]
sort_by = "natural"
linemode = "size"


[preview]

max_height = 950
max_width = 700
tab_size = 4
image_quality = 85


# --- OPENERS (Command Definitions) ---
[opener]
edit    = [{ run = 'micro "$@"',       block = true }]
subl    = [{ run = 'subl "$@"',        block = true }]
pdf     = [{ run = 'zathura "$@"',     block = false, orphan = true }]
tdf     = [{ run = 'tdf "$@"',         desc = "tdf", block = true, for = "unix" }]
open    = [{ run = 'xdg-open "$@"',    desc = "Default" }]
abrir   = [{ run = 'cosmic-files "$@"', desc = "Archivos" }]
xnview  = [{ run = 'xnviewmp.appimage "$@"', block = false, orphan = true, desc = "XnViewMP" }]
libre   = [{ run = 'libreoffice "$@"', desc = "LibreOffice", block = false, orphan = true }]
only    = [{ run = 'onlyoffice-desktopeditors "$@"', desc = "OnlyOffice", block = false, orphan = true }]
view_icat  = [{ run = 'clear; kitty +kitten icat --hold "$@"', block = true, orphan = false, desc = "Ver con icat" }]
satty = [{ run = 'satty --filename "$@" --output-filename "$@" --early-exit', orphan = true, desc = "Annotate with Satty", block = false }]
fast  = [{ run = 'fs-wine "$@"', desc = "FastStone", block = false}]
# --- RULES (Association) ---
[open]
prepend_rules = [

  { mime = "text/*", use = ["edit","subl", "open", "abrir"] },
  { mime = "application/{pdf}",  use = ["tdf", "pdf", "open", "abrir"] },
  { mime = "application/{doc,docx,xls,xlsx}", use = ["only","open", "libre", "abrir"]},
  { mime = "image/*", use = ["view_icat", "open", "xnview", "satty","fast", "abrir"] },

  # Overwrite fallback
  { url = "*", use = [ "open", "xnview", "abrir", "only", "satty", "fast" ] },
]

  


# --- PLUGINS ---
[plugin]
prepend_previewers = [
    # Ouch (Compression)
    { mime = "application/*zip",            run = "ouch" },
    { mime = "application/x-tar",           run = "ouch" },
    { mime = "application/x-bzip2",         run = "ouch" },
    { mime = "application/x-7z-compressed", run = "ouch" },
    { mime = "application/x-rar",           run = "ouch" },
    { mime = "application/vnd.rar",         run = "ouch" },
    { mime = "application/x-xz",            run = "ouch" },
    { mime = "application/xz",              run = "ouch" },
    { mime = "application/x-zstd",          run = "ouch" },
    { mime = "application/zstd",            run = "ouch" },
    { mime = "application/java-archive",    run = "ouch" },
]

[[plugin.prepend_fetchers]]
id  = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*/"
run = "git"
